<p id="notice"><%= notice %></p>

<p>
  <strong>Stnid:</strong>
  <%= @awon_station.stnid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @awon_station.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @awon_station.abbrev %>
</p>

<p>
  <strong>County:</strong>
  <%= @awon_station.county %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @awon_station.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @awon_station.longitude %>
</p>

<p>
  <strong>Status:</strong>
  <%= @awon_station.status %>
</p>

<p>
  <strong>Wind:</strong>
  <%= @awon_station.wind %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @awon_station.humidity %>
</p>

<p>
  <strong>Has 401:</strong>
  <%= @awon_station.has_401 %>
</p>

<p>
  <strong>Has 403:</strong>
  <%= @awon_station.has_403 %>
</p>

<p>
  <strong>Has 411:</strong>
  <%= @awon_station.has_411 %>
</p>

<p>
  <strong>Has 412:</strong>
  <%= @awon_station.has_412 %>
</p>

<p>
  <strong>Has 404:</strong>
  <%= @awon_station.has_404 %>
</p>

<%= link_to 'Edit', edit_awon_station_path(@awon_station) %> |
<%= link_to 'Back', awon_stations_path %>
