<p id="notice"><%= notice %></p>

<p>
  <strong>Stnid:</strong>
  <%= @asos_station.stnid %>
</p>

<p>
  <strong>State:</strong>
  <%= @asos_station.state %>
</p>

<p>
  <strong>Name:</strong>
  <%= @asos_station.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @asos_station.type %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @asos_station.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @asos_station.longitude %>
</p>

<%= link_to 'Edit', edit_asos_station_path(@asos_station) %> |
<%= link_to 'Back', asos_stations_path %>
