<p id="notice"><%= notice %></p>

<p>
  <strong>Datestamp:</strong>
  <%= @wi_mn_d_max_t_air.dateStamp %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @wi_mn_d_max_t_air.timeStamp %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wi_mn_d_max_t_air.latitude %>
</p>

<p>
  <strong>W980:</strong>
  <%= @wi_mn_d_max_t_air.w980 %>
</p>

<p>
  <strong>W976:</strong>
  <%= @wi_mn_d_max_t_air.w976 %>
</p>

<p>
  <strong>W972:</strong>
  <%= @wi_mn_d_max_t_air.w972 %>
</p>

<p>
  <strong>W968:</strong>
  <%= @wi_mn_d_max_t_air.w968 %>
</p>

<p>
  <strong>W964:</strong>
  <%= @wi_mn_d_max_t_air.w964 %>
</p>

<p>
  <strong>W960:</strong>
  <%= @wi_mn_d_max_t_air.w960 %>
</p>

<p>
  <strong>W956:</strong>
  <%= @wi_mn_d_max_t_air.w956 %>
</p>

<p>
  <strong>W952:</strong>
  <%= @wi_mn_d_max_t_air.w952 %>
</p>

<p>
  <strong>W948:</strong>
  <%= @wi_mn_d_max_t_air.w948 %>
</p>

<p>
  <strong>W944:</strong>
  <%= @wi_mn_d_max_t_air.w944 %>
</p>

<p>
  <strong>W940:</strong>
  <%= @wi_mn_d_max_t_air.w940 %>
</p>

<p>
  <strong>W936:</strong>
  <%= @wi_mn_d_max_t_air.w936 %>
</p>

<p>
  <strong>W932:</strong>
  <%= @wi_mn_d_max_t_air.w932 %>
</p>

<p>
  <strong>W928:</strong>
  <%= @wi_mn_d_max_t_air.w928 %>
</p>

<p>
  <strong>W924:</strong>
  <%= @wi_mn_d_max_t_air.w924 %>
</p>

<p>
  <strong>W920:</strong>
  <%= @wi_mn_d_max_t_air.w920 %>
</p>

<p>
  <strong>W916:</strong>
  <%= @wi_mn_d_max_t_air.w916 %>
</p>

<p>
  <strong>W912:</strong>
  <%= @wi_mn_d_max_t_air.w912 %>
</p>

<p>
  <strong>W908:</strong>
  <%= @wi_mn_d_max_t_air.w908 %>
</p>

<p>
  <strong>W904:</strong>
  <%= @wi_mn_d_max_t_air.w904 %>
</p>

<p>
  <strong>W900:</strong>
  <%= @wi_mn_d_max_t_air.w900 %>
</p>

<p>
  <strong>W896:</strong>
  <%= @wi_mn_d_max_t_air.w896 %>
</p>

<p>
  <strong>W892:</strong>
  <%= @wi_mn_d_max_t_air.w892 %>
</p>

<p>
  <strong>W888:</strong>
  <%= @wi_mn_d_max_t_air.w888 %>
</p>

<p>
  <strong>W884:</strong>
  <%= @wi_mn_d_max_t_air.w884 %>
</p>

<p>
  <strong>W880:</strong>
  <%= @wi_mn_d_max_t_air.w880 %>
</p>

<p>
  <strong>W876:</strong>
  <%= @wi_mn_d_max_t_air.w876 %>
</p>

<p>
  <strong>W872:</strong>
  <%= @wi_mn_d_max_t_air.w872 %>
</p>

<p>
  <strong>W868:</strong>
  <%= @wi_mn_d_max_t_air.w868 %>
</p>

<p>
  <strong>W864:</strong>
  <%= @wi_mn_d_max_t_air.w864 %>
</p>

<p>
  <strong>W860:</strong>
  <%= @wi_mn_d_max_t_air.w860 %>
</p>

<%= link_to 'Edit', edit_wi_mn_d_max_t_air_path(@wi_mn_d_max_t_air) %> |
<%= link_to 'Back', wi_mn_d_max_t_airs_path %>
