<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @blog.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @blog.tags %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
