<% content_for :title do %>
  <%= title %>
<% end %>

<% content_for :welcome do %>
  <%= do_welcome.html_safe %>
<% end %>

<% content_for :header_script do %>
  function report_changed(id)
  {
    $.ajax({
      // awon path ought to work here, dammit!
      url: "/uwex_agwx/awon/awon_check_boxes?report_type="+id,
      success: function(response) {
        $("#check_boxes").html(response);
      }
    });
  }
<% end %>

<h2>Weather Station Status and Data</h2>  
<p><%= link_to "List of stations", :action => "station_info" %>, their geographic locations, and the operational dates.</p>
<p><%= link_to "Graphs of recent meterological data", :action => :graphs %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Graphs of soil temperatures", :action => :graphs_soiltemp %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Station status weblog", :action => :blog %> <%= @blogs && @blogs.size > 0 ? "(Last updated #{@blogs[0].date})" : ""%></p>

<h3>Download Weather or Soil Data</h3>
<%= form_tag(:controller => 'awon', :action => :download_data) do %>
  <table>
  <tr><td width="50%">  
<%= station_selector_section.html_safe %>
</td>
<td rowspan="2">
  Arlington and Hancock stations have a continuous record in the daily and the "hourly and half-hourly" tables; hourly prior to 1999, half-hourly subsequently. Some of the other stations used "half-hourly", others "hourly".
</td>
</tr>
<tr>
  <td>
    <%= select_tag 'report_type',
      options_from_collection_for_select(@report_types, :last, :first),
      onchange: 'report_changed(this.value);'
     %>
  </td>
</tr>
</table>
<p>Clearing all checkboxes is the same as checking them all (you'll get everything).</p>
<div id="check_boxes">
  <%= render :partial => 'awon_check_boxes', :locals => {:report_type => @report_type, :ahrs => @ahrs} %>
</div>
<p/>
<table>
  <tr><td>From: </td><td><%= select_date Time.now - 7.days, prefix: 'start_date' %></td></tr>
  <tr><td>To: </td><td><%= select_date Time.now, prefix: 'end_date' %></td></tr>
</table>

<p>
  <%= radio_button_tag(:use_abbrevs, false) %>
  <%= label_tag(:use_abbrevs_0, "Use full column names in first line") %>,
  &nbsp;&nbsp;<strong>OR</strong>&nbsp;&nbsp;
  <%= radio_button_tag(:use_abbrevs, true, true) %>
  <%= label_tag(:use_abbrevs_1, "Use abbreviations") %>
</p>
<p/>
<p>
  <%= radio_button_tag(:format,'html',true) %>
  <%= label_tag(:format_html, "View data in your browser")%>,
  &nbsp;&nbsp;<strong>OR</strong>&nbsp;&nbsp;
  <%= radio_button_tag(:format,'csv') %>
  <%= label_tag(:format_csv, "Download directly to a CSV file")%>
</p>
<P><input type="submit" value="Download Data">&nbsp&nbsp<input type="reset" value="Clear All Checkboxes">

    <%= submit_tag 'Download' %>

<% end %>
