<p id="notice"><%= notice %></p>

<p>
  <strong>awon_station_id:</strong>
  <%= @t411.awon_station_id %>
</p>

<p>
  <strong>date:</strong>
  <%= @t411.date %>
</p>

<p>
  <strong>time:</strong>
  <%= @t411.time %>
</p>

<p>
  <strong>Dmnbatt:</strong>
  <%= @t411.DMnBatt %>
</p>

<p>
  <strong>Dtopcpn:</strong>
  <%= @t411.DToPcpn %>
</p>

<p>
  <strong>Davsol:</strong>
  <%= @t411.DAvSol %>
</p>

<p>
  <strong>Davtair:</strong>
  <%= @t411.DAvTAir %>
</p>

<p>
  <strong>Dmxtair:</strong>
  <%= @t411.DMxTAir %>
</p>

<p>
  <strong>Dtxtair:</strong>
  <%= @t411.DTxTAir %>
</p>

<p>
  <strong>Dmntair:</strong>
  <%= @t411.DMnTAir %>
</p>

<p>
  <strong>Dtntair:</strong>
  <%= @t411.DTnTAir %>
</p>

<p>
  <strong>Davrhum:</strong>
  <%= @t411.DAvRHum %>
</p>

<p>
  <strong>Dmxrhum:</strong>
  <%= @t411.DMxRHum %>
</p>

<p>
  <strong>Dtxrhum:</strong>
  <%= @t411.DTxRHum %>
</p>

<p>
  <strong>Dmnrhum:</strong>
  <%= @t411.DMnRHum %>
</p>

<p>
  <strong>Dtnrhum:</strong>
  <%= @t411.DTnRHum %>
</p>

<p>
  <strong>Davvpre:</strong>
  <%= @t411.DAvVPre %>
</p>

<p>
  <strong>Davvdef:</strong>
  <%= @t411.DAvVDef %>
</p>

<p>
  <strong>Dpkwind:</strong>
  <%= @t411.DPkWind %>
</p>

<p>
  <strong>Dtkwind:</strong>
  <%= @t411.DTkWind %>
</p>

<p>
  <strong>Davwind:</strong>
  <%= @t411.DAvWind %>
</p>

<p>
  <strong>Drswind:</strong>
  <%= @t411.DRsWind %>
</p>

<p>
  <strong>Drsdir:</strong>
  <%= @t411.DRsDir %>
</p>

<p>
  <strong>Ddvdir:</strong>
  <%= @t411.DDvDir %>
</p>

<p>
  <strong>Davpar:</strong>
  <%= @t411.DAvPAR %>
</p>

<p>
  <strong>Dmxwnd1:</strong>
  <%= @t411.DMxWnd1 %>
</p>

<p>
  <strong>Dtxwnd1:</strong>
  <%= @t411.DTxWnd1 %>
</p>

<p>
  <strong>Dmxdir1:</strong>
  <%= @t411.DMxDir1 %>
</p>

<p>
  <strong>Davtdew:</strong>
  <%= @t411.DAvTdew %>
</p>

<p>
  <strong>Dmxtdew:</strong>
  <%= @t411.DMxTdew %>
</p>

<p>
  <strong>Dtxtdew:</strong>
  <%= @t411.DTxTdew %>
</p>

<p>
  <strong>Dmntdew:</strong>
  <%= @t411.DMnTdew %>
</p>

<p>
  <strong>Dtntdew:</strong>
  <%= @t411.DTnTdew %>
</p>

<p>
  <strong>Drefet:</strong>
  <%= @t411.DRefET %>
</p>

<p>
  <strong>Dpctclr:</strong>
  <%= @t411.DPctClr %>
</p>

<%= link_to 'Edit', edit_t411_path(@t411) %> |
<%= link_to 'Back', t411s_path %>
