<p id="notice"><%= notice %></p>

<p>
  <strong>Awon station:</strong>
  <%= @t401.awon_station_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @t401.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @t401.time %>
</p>

<p>
  <strong>M5pcpn:</strong>
  <%= @t401.M5Pcpn %>
</p>

<p>
  <strong>M5pcpn2:</strong>
  <%= @t401.M5Pcpn2 %>
</p>

<p>
  <strong>M5wind:</strong>
  <%= @t401.M5Wind %>
</p>

<%= link_to 'Edit', edit_t401_path(@t401) %> |
<%= link_to 'Back', t401s_path %>
