<%= form_tag action: :get_dds do %>
<%= select_tag :latitude, options_for_select(latitudes) %> <label for="latitude"> Latitude</label>
<%= select_tag :longitude, options_for_select(longitudes) %><label for="longitude"> West longitude</label><br/>
<% if @dd_methods.size > 1 %>
  <% @dd_methods.each do |method| %>
    <%= radio_button_tag 'method', method, method == @dd_methods[0] %> <%= method %><br/>
  <% end %>
<% else %>
  <input type="hidden" name="method" value="<%= @dd_methods[0] %>"/>
<% end %>
<%= date_select :grid_date, :start_date, start_year: 2000, default: Date.civil(Date.today.year,1,1) %> Biofix (start) date<br/>
<%= date_select :grid_date, :end_date,   start_year: 2000, default: 1.day.ago, end_year: Time.now.year %> End date<br/>
<%= text_field_tag  :base_temp, 50, {size: 3 }%> Lower threshold temperature (Degrees F):<br/>
<%= text_field_tag  :upper_temp, 'None', {size: 3} %> Upper threshold (F)<br/>
<%= check_box_tag :seven_day %> Report only last 7 days of accumulated values<br/>
<%= radio_button_tag 'format', 'html', true %> View in browser&nbsp;<%= radio_button_tag 'format', 'csv' %> Download as CSV<br/>
<%= submit_tag "Get Data Series "%>
<% end %>