<p>Degree days totalize the amount of heat available above a threshold temperature since a given day.
The number of degree days accumulated over some period of time is often related to the phenological development of plants and insects, 
and so can be used to estimate when pests will be at a life stage vulnerable to control. The base, or lower threshold temperature is that 
below which the organism does not grow or develop. The cap, or upper threshold is the maximum temperature at which organismal development occurs. Some specific examples can be found at our 
<%= link_to 'European Corn Borer', :action => :ecb %> and <%= link_to 'Alfalfa weevil', :action => :alfalfa %> web pages.
</p>
<p>For more information, see:
  <ul>
    <li><%= link_to "Degree Day Concepts (UC-Davis)", "http://www.ipm.ucdavis.edu/WEATHER/ddconcepts.html" %></li>
    <li><%= link_to "Weather and Modeling (UC-Davis)", "http://www.ipm.ucdavis.edu/WEATHER/index.html" %>  (has videos on how to use DD).</li>
    <li><%= link_to "Cullen Field Crop Entomology Lab (UW-Madison)", "http://labs.russell.wisc.edu/cullenlab/insect-degree-day-models/" %></li>
  </ul>
</p>