<% if @subscriber.subscriptions && @subscriber.subscriptions.size > 0 %>
  <h4>Subscriptions</h4>
<table>  
  <% for subs in @subscriber.subscriptions.sort_by {|s| [s.product_id, -s.latitude, s.longitude ]} %>
  <tr>
    <td><%= subs.product.name %></td><td>at <%= sprintf("%0.3f, %0.3f",subs.latitude,subs.longitude) %></td>
    <% if subs.enabled %>
      <!-- Unfortunately the Rails hidden_field method fills in the value with whatever's in the model object -->
      <td><%= form_for subs do |f| %><input type="hidden" name="subscription[enabled]" value="false"/><%= f.submit 'Disable' %><% end %></td>
    <% else %>
      <td><%= form_for subs do |f| %><input type="hidden" name="subscription[enabled]" value="true"/><%= f.submit 'Re-enable' %><% end %></td>
    <% end %>
    <td><%= button_to 'Delete Entirely', {:controller => 'subscriptions', :action => :destroy, :id => subs[:id] }, :method => :delete, :confirm => "Permanently delete subscription to #{subs.name} at (#{subs.latitude},#{subs.longitude})?" %></td>
  </tr>
  <% end %>
</table>  
<% else %>
  <p>No subscriptions</p>
<% end %>
