<p id="notice"><%= notice %></p>

<p>
  <strong>Awon station:</strong>
  <%= @t412.awon_station_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @t412.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @t412.time %>
</p>

<p>
  <strong>Davts05:</strong>
  <%= @t412.DAvTS05 %>
</p>

<p>
  <strong>Dmxts05:</strong>
  <%= @t412.DMxTS05 %>
</p>

<p>
  <strong>Dtxts05:</strong>
  <%= @t412.DTxTS05 %>
</p>

<p>
  <strong>Dmnts05:</strong>
  <%= @t412.DMnTS05 %>
</p>

<p>
  <strong>Dtnts05:</strong>
  <%= @t412.DTnTS05 %>
</p>

<p>
  <strong>Davts10:</strong>
  <%= @t412.DAvTS10 %>
</p>

<p>
  <strong>Dmxts10:</strong>
  <%= @t412.DMxTS10 %>
</p>

<p>
  <strong>Dtxts10:</strong>
  <%= @t412.DTxTS10 %>
</p>

<p>
  <strong>Dmnts10:</strong>
  <%= @t412.DMnTS10 %>
</p>

<p>
  <strong>Dtnts10:</strong>
  <%= @t412.DTnTS10 %>
</p>

<p>
  <strong>Davts50:</strong>
  <%= @t412.DAvTS50 %>
</p>

<p>
  <strong>Dmxts50:</strong>
  <%= @t412.DMxTS50 %>
</p>

<p>
  <strong>Dtxts50:</strong>
  <%= @t412.DTxTS50 %>
</p>

<p>
  <strong>Dmnts50:</strong>
  <%= @t412.DMnTS50 %>
</p>

<p>
  <strong>Dtnts50:</strong>
  <%= @t412.DTnTS50 %>
</p>

<p>
  <strong>Davts1m:</strong>
  <%= @t412.DAvTS1m %>
</p>

<%= link_to 'Edit', edit_t412_path(@t412) %> |
<%= link_to 'Back', t412s_path %>
