<% @title="Grid-Interpolated Daily Temperatures"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<p>By interpolating daily temperature and humidity observations at airports, we can offer gridded temperatures (in degrees Celsius) and water vapor pressures across the region.</p>

<%= form_tag "/weather/get_grid" do %>
<%= select_tag :latitude, options_for_select(latitudes) %> <label for="latitude">Latitude</label>
<%= select_tag :longitude, options_for_select(longitudes) %><label for="longitude">East longitude</label><br/>
<% keys = @grid_classes.keys.sort; keys.each do |param| %>
  <%= radio_button_tag 'param', param, param == keys[0] %> <%= param %><br/>
<% end %>
<%= date_select :grid_date, :start_date, start_year: 2000, default: 7.days.ago %> Start date<br/>
<%= date_select :grid_date, :end_date, end_year: Time.now.year, default: 1.day.ago %> End date<br/>
<%= radio_button_tag 'format', 'html', true %> View in browser&nbsp;<%= radio_button_tag 'format', 'csv' %> Download as CSV<br/>




<%= submit_tag "Get Temperature/Vapor-Pressure Series "%>
<% end %>