<% @title="Soil Science Web Cam"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'jquery.ui.datepicker' %>
<% end %>

<% content_for :welcome do %>
<h2><%= @title %></h2>
  <h4>Fall</h4>
  <%= image_tag "webcam.jpg",{:width => "231", :height => "180", :alt => "Lake Mendota View"} %>
  <h4>Winter</h4>
  <%= image_tag "webcam_winter.bmp",{:width => "231", :height => "180", :alt => "Lake Mendota View"} %>
  <p></p>
  <p>
    <%= form_tag controller: 'weather', action: :webcam_archive do %>
      <%= select_date Date.today %>
      <%= submit_tag 'See archive for this date'%>
    <% end %>
  </p>

<% end %>
<H2 ALIGN=CENTER>Live, from the Turret of King Hall...</H2>
<H3 align="center">It's the Soil Science Web Cam!</h3>

<P ALIGN=CENTER>
  <%= link_to image_tag('webcam/big.jpg', width: 550, height: 420), 
              'http://agwx.soils.wisc.edu/soils-agwx-assets/uwex_agwx/images/webcam/big.jpg' %>
</P>
<H4>The View from Up Here:</H4>
<div style="float:right"><SCRIPT SRC="http://voap.weather.com/weather/oap/53706?template=LAWNH&amp;par=1003268181&amp;unit=0&amp;key=fe6a3f5d9e7b28d68e8e9a77c9c4576b"></SCRIPT></div>
<h5>...Is Back, Thanks Troy!</h5>
<p>Thanks to our department's intrepid technician, who fixed the power problems in the camera's enclosure...the webcam is BACK!</p>
<P>You are looking at a panoramic view of beautiful
Lake Mendota. In the foreground are the red tiled roofs atop
dormitories at the University of Wisconsin-Madison. On the left
is Picnic Point, a favorite spot to walk and birdwatch. Off to
the right across the lake, you can pick out the water tower on
Governor's Island (though his actual mansion is out of sight to
the right). The camera (a brand-new <A HREF="http://www.axis.com/products/cam_p1344/">Axis P1344 HD
Web Camera</A>, for the technically inclined) is facing just a
little west of due north. 
</P>
<P>We hope that you will join us here often, to watch
the sailboats sail, the clouds billow by, the sun rise and set,
and the seasons in motion. A little slice of spiritual
tranquility, brought to you by Soil Science. 
</P>
<H4><a name="archive"/></a>Picture Archives</H4>
<P>In late August 2004, we started keeping an
archive of images from the&nbsp; webcam. A small (176x144)
&quot;halfsize&quot; image is saved every five minutes, and a
larger &quot;hugesize&quot; one (704x576) every hour. Images are
recorded from 0300 to 2159 local time in the summer, 0600 to 1859
local during the fall and spring. In April 2011, we started archiving the 
larger images every five minutes as well.
</P>

<p>The old server on which we stored these images is dying; we're working
  to migrate them to our spiffy new one. For right now, you can access images
  from today (2014-05-29) onwards by selecting the date at left and clicking the button.
  Previous days will be available as soon as we can restore them.</p>

<H4>The Daily Movie</H4>
<P>Also as of late August 2004, we have
time-lapse webcam movies. (July 2012 note: Movies not working with new webcam -- soon!) You must
have a Java plugin or a Java-enabled browser to see these movies.
The movie pages are in the daily archives; here is a <A HREF="http://alfi.soils.wisc.edu/~asig/webcam/archive/2004/10/07/movie.html">sample</A>
with a glowing sunrise, blue sky with clouds and contrails
sweeping by, then a rainshower and nightfall. Watch how the
clouds change direction as the winds shift from the storm. Or see this
<a href="http://alfi.soils.wisc.edu/asig/webcam/archive/2007/01/17/movie.html">time-lapse of Mendota's ice cover breaking up</a>.</P>

<H4>What's this &quot;<A HREF="http://alfi.soils.wisc.edu/asig/webcam/kinghall.html">turret of
King Hall</A>&quot; business?</H4>
<p>&nbsp;</p>
<H4>Want our picture on your web page?</H4>
<P>It's easy. We'd appreciate it if you attributed the image:
&quot;Courtesy UW-Madison Soil Sciences&quot; would be lovely.
Just include one of the following tags in your HTML: 
</P>
<PRE>&lt;IMG SRC=&quot;http://alfi.soils.wisc.edu/asig/webcam/big.jpg&quot;&gt;

or
&lt;IMG SRC=&quot;http://alfi.soils.wisc.edu/asig/webcam/halfsize.jpg&quot;&gt;</PRE><P>
<BR>
</P>
