<p id="notice"><%= notice %></p>

<p>
  <strong>Awon station:</strong>
  <%= @t406.awon_station_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @t406.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @t406.time %>
</p>

<p>
  <strong>Hhtopcpn:</strong>
  <%= @t406.HhToPcpn %>
</p>

<p>
  <strong>Hhavsol:</strong>
  <%= @t406.HhAvSol %>
</p>

<p>
  <strong>Hhavtair:</strong>
  <%= @t406.HhAvTAir %>
</p>

<p>
  <strong>Hhavrhum:</strong>
  <%= @t406.HhAvRHum %>
</p>

<p>
  <strong>Hhavts05:</strong>
  <%= @t406.HhAvTS05 %>
</p>

<p>
  <strong>Hhavts10:</strong>
  <%= @t406.HhAvTS10 %>
</p>

<p>
  <strong>Hhavts50:</strong>
  <%= @t406.HhAvTS50 %>
</p>

<p>
  <strong>Hhpkwind:</strong>
  <%= @t406.HhPkWind %>
</p>

<p>
  <strong>Hhavwind:</strong>
  <%= @t406.HhAvWind %>
</p>

<p>
  <strong>Hhrswind:</strong>
  <%= @t406.HhRsWind %>
</p>

<p>
  <strong>Hhrsdir:</strong>
  <%= @t406.HhRsDir %>
</p>

<p>
  <strong>Hhdvdir:</strong>
  <%= @t406.HhDvDir %>
</p>

<p>
  <strong>Hhavpar:</strong>
  <%= @t406.HhAvPAR %>
</p>

<p>
  <strong>Hhmxwnd1:</strong>
  <%= @t406.HhMxWnd1 %>
</p>

<p>
  <strong>Hhavtdew:</strong>
  <%= @t406.HhAvTDew %>
</p>

<%= link_to 'Edit', edit_t406_path(@t406) %> |
<%= link_to 'Back', t406s_path %>
