<% @title="Daily Reference ET"%>
<% content_for :title do %>
 <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "grid_map.png",{:width => "231", :height => "180", :alt => "Gridded Map"} %>
  <h2><%= @title %></h2>
  <p></p>
<% end %>

<%= @param %> for <%= @latitude %>,<%= @longitude %> from <%= @start_date %> to <%= @end_date %>:<br/>
<% for date in @data.keys.sort %>
<%= date %>&nbsp;<%= @data[date] %><br/>
<% end %>