<% @title = "Estimated ET for Wisconsin and Minnesota"%>
<% content_for :title do %>
  <%= @title %>
<% end %>


<% content_for :welcome do %>
  <%= image_tag "degree_flower.png",{:width => "231", :height => "156", :alt => "Hot and Cold"} %>
  <h2><%= @title %></h2>
  <p>Our evapotranspiration model uses atmospheric observations from ASOS stations and satellite-derived 
    insolation estimates to predict water use by plants
    </p>
<% end %>

<h2><%= @title %></h2>

<%= render partial: "partials/grid_selector" %>