<p id="notice"><%= notice %></p>

<p>
  <strong>Datestamp:</strong>
  <%= @wi_mn_det.dateStamp %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @wi_mn_det.timeStamp %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wi_mn_det.latitude %>
</p>

<p>
  <strong>w980:</strong>
  <%= @wi_mn_det.w980 %>
</p>

<p>
  <strong>w976:</strong>
  <%= @wi_mn_det.w976 %>
</p>

<p>
  <strong>w972:</strong>
  <%= @wi_mn_det.w972 %>
</p>

<p>
  <strong>w968:</strong>
  <%= @wi_mn_det.w968 %>
</p>

<p>
  <strong>w964:</strong>
  <%= @wi_mn_det.w964 %>
</p>

<p>
  <strong>w960:</strong>
  <%= @wi_mn_det.w960 %>
</p>

<p>
  <strong>w956:</strong>
  <%= @wi_mn_det.w956 %>
</p>

<p>
  <strong>w952:</strong>
  <%= @wi_mn_det.w952 %>
</p>

<p>
  <strong>w948:</strong>
  <%= @wi_mn_det.w948 %>
</p>

<p>
  <strong>w944:</strong>
  <%= @wi_mn_det.w944 %>
</p>

<p>
  <strong>w940:</strong>
  <%= @wi_mn_det.w940 %>
</p>

<p>
  <strong>w936:</strong>
  <%= @wi_mn_det.w936 %>
</p>

<p>
  <strong>w932:</strong>
  <%= @wi_mn_det.w932 %>
</p>

<p>
  <strong>w928:</strong>
  <%= @wi_mn_det.w928 %>
</p>

<p>
  <strong>w924:</strong>
  <%= @wi_mn_det.w924 %>
</p>

<p>
  <strong>w920:</strong>
  <%= @wi_mn_det.w920 %>
</p>

<p>
  <strong>w916:</strong>
  <%= @wi_mn_det.w916 %>
</p>

<p>
  <strong>w912:</strong>
  <%= @wi_mn_det.w912 %>
</p>

<p>
  <strong>w908:</strong>
  <%= @wi_mn_det.w908 %>
</p>

<p>
  <strong>w904:</strong>
  <%= @wi_mn_det.w904 %>
</p>

<p>
  <strong>w900:</strong>
  <%= @wi_mn_det.w900 %>
</p>

<p>
  <strong>w896:</strong>
  <%= @wi_mn_det.w896 %>
</p>

<p>
  <strong>w892:</strong>
  <%= @wi_mn_det.w892 %>
</p>

<p>
  <strong>w888:</strong>
  <%= @wi_mn_det.w888 %>
</p>

<p>
  <strong>w884:</strong>
  <%= @wi_mn_det.w884 %>
</p>

<p>
  <strong>w880:</strong>
  <%= @wi_mn_det.w880 %>
</p>

<p>
  <strong>w876:</strong>
  <%= @wi_mn_det.w876 %>
</p>

<p>
  <strong>w872:</strong>
  <%= @wi_mn_det.w872 %>
</p>

<p>
  <strong>w868:</strong>
  <%= @wi_mn_det.w868 %>
</p>

<p>
  <strong>w864:</strong>
  <%= @wi_mn_det.w864 %>
</p>

<p>
  <strong>w860:</strong>
  <%= @wi_mn_det.w860 %>
</p>

<%= link_to 'Edit', edit_wi_mn_det_path(@wi_mn_det) %> |
<%= link_to 'Back', wi_mn_dets_path %>
