<p id="notice"><%= notice %></p>

<p>
  <strong>Datestamp:</strong>
  <%= @wi_mn_d_ave_vapr.dateStamp %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @wi_mn_d_ave_vapr.timeStamp %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wi_mn_d_ave_vapr.latitude %>
</p>

<p>
  <strong>W980:</strong>
  <%= @wi_mn_d_ave_vapr.w980 %>
</p>

<p>
  <strong>W976:</strong>
  <%= @wi_mn_d_ave_vapr.w976 %>
</p>

<p>
  <strong>W972:</strong>
  <%= @wi_mn_d_ave_vapr.w972 %>
</p>

<p>
  <strong>W968:</strong>
  <%= @wi_mn_d_ave_vapr.w968 %>
</p>

<p>
  <strong>W964:</strong>
  <%= @wi_mn_d_ave_vapr.w964 %>
</p>

<p>
  <strong>W960:</strong>
  <%= @wi_mn_d_ave_vapr.w960 %>
</p>

<p>
  <strong>W956:</strong>
  <%= @wi_mn_d_ave_vapr.w956 %>
</p>

<p>
  <strong>W952:</strong>
  <%= @wi_mn_d_ave_vapr.w952 %>
</p>

<p>
  <strong>W948:</strong>
  <%= @wi_mn_d_ave_vapr.w948 %>
</p>

<p>
  <strong>W944:</strong>
  <%= @wi_mn_d_ave_vapr.w944 %>
</p>

<p>
  <strong>W940:</strong>
  <%= @wi_mn_d_ave_vapr.w940 %>
</p>

<p>
  <strong>W936:</strong>
  <%= @wi_mn_d_ave_vapr.w936 %>
</p>

<p>
  <strong>W932:</strong>
  <%= @wi_mn_d_ave_vapr.w932 %>
</p>

<p>
  <strong>W928:</strong>
  <%= @wi_mn_d_ave_vapr.w928 %>
</p>

<p>
  <strong>W924:</strong>
  <%= @wi_mn_d_ave_vapr.w924 %>
</p>

<p>
  <strong>W920:</strong>
  <%= @wi_mn_d_ave_vapr.w920 %>
</p>

<p>
  <strong>W916:</strong>
  <%= @wi_mn_d_ave_vapr.w916 %>
</p>

<p>
  <strong>W912:</strong>
  <%= @wi_mn_d_ave_vapr.w912 %>
</p>

<p>
  <strong>W908:</strong>
  <%= @wi_mn_d_ave_vapr.w908 %>
</p>

<p>
  <strong>W904:</strong>
  <%= @wi_mn_d_ave_vapr.w904 %>
</p>

<p>
  <strong>W900:</strong>
  <%= @wi_mn_d_ave_vapr.w900 %>
</p>

<p>
  <strong>W896:</strong>
  <%= @wi_mn_d_ave_vapr.w896 %>
</p>

<p>
  <strong>W892:</strong>
  <%= @wi_mn_d_ave_vapr.w892 %>
</p>

<p>
  <strong>W888:</strong>
  <%= @wi_mn_d_ave_vapr.w888 %>
</p>

<p>
  <strong>W884:</strong>
  <%= @wi_mn_d_ave_vapr.w884 %>
</p>

<p>
  <strong>W880:</strong>
  <%= @wi_mn_d_ave_vapr.w880 %>
</p>

<p>
  <strong>W876:</strong>
  <%= @wi_mn_d_ave_vapr.w876 %>
</p>

<p>
  <strong>W872:</strong>
  <%= @wi_mn_d_ave_vapr.w872 %>
</p>

<p>
  <strong>W868:</strong>
  <%= @wi_mn_d_ave_vapr.w868 %>
</p>

<p>
  <strong>W864:</strong>
  <%= @wi_mn_d_ave_vapr.w864 %>
</p>

<p>
  <strong>W860:</strong>
  <%= @wi_mn_d_ave_vapr.w860 %>
</p>

<%= link_to 'Edit', edit_wi_mn_d_ave_vapr_path(@wi_mn_d_ave_vapr) %> |
<%= link_to 'Back', wi_mn_d_ave_vaprs_path %>
