<p id="notice"><%= notice %></p>

<p>
  <strong>Awon station:</strong>
  <%= @t403.awon_station_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @t403.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @t403.time %>
</p>

<p>
  <strong>Htopcpn:</strong>
  <%= @t403.HToPcpn %>
</p>

<p>
  <strong>Havsol:</strong>
  <%= @t403.HAvSol %>
</p>

<p>
  <strong>Havtair:</strong>
  <%= @t403.HAvTAir %>
</p>

<p>
  <strong>Havrhum:</strong>
  <%= @t403.HAvRHum %>
</p>

<p>
  <strong>Havts05:</strong>
  <%= @t403.HAvTS05 %>
</p>

<p>
  <strong>Havts10:</strong>
  <%= @t403.HAvTS10 %>
</p>

<p>
  <strong>Havts50:</strong>
  <%= @t403.HAvTS50 %>
</p>

<p>
  <strong>Hpkwind:</strong>
  <%= @t403.HPkWind %>
</p>

<p>
  <strong>Havwind:</strong>
  <%= @t403.HAvWind %>
</p>

<p>
  <strong>Hrswind:</strong>
  <%= @t403.HRsWind %>
</p>

<p>
  <strong>Hrsdir:</strong>
  <%= @t403.HRsDir %>
</p>

<p>
  <strong>Hdvdir:</strong>
  <%= @t403.HDvDir %>
</p>

<p>
  <strong>Havpar:</strong>
  <%= @t403.HAvPAR %>
</p>

<p>
  <strong>Hmxwnd1:</strong>
  <%= @t403.HMxWnd1 %>
</p>

<p>
  <strong>Havtdew:</strong>
  <%= @t403.HAvTDew %>
</p>

<%= link_to 'Edit', edit_t403_path(@t403) %> |
<%= link_to 'Back', t403s_path %>
