<% @title = "Alfalfa Weevil Thermal Model "%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "AlfalfaWeevilLarvae2.jpg",{:width => "231", :height => "156", :alt => "Hot and Cold"} %>
  <h2><%= @title %></h2>
  <p>Our alfalfa weevil degree-day model lets you predict development of this pest to best target your control measures.</p>
<% end %>

<h2><%= @title %></h2>

<center>
  <%= ddgif_image_link('WIMNDDSine48_1.png',"Yesterday's Sine 48 Alfalfa Weevil DD Map") %>
  </a> 
</center> 
<%= ddgif_url(' Download the Image in Black and White','WIMNDDSine48_1_bw.png') %>
<p/>
  
<div class="fineline"/></div>
Need to know more about alfalfa weevils?  All you ever wanted to know about these 
pests follows the map!

<B>Alfalfa Weevil Profile</B>
<p>
Identification
<p>
Alfalfa weevil adults are small (1/4 inch), light brown in color with a darker 
brown v-shaped "shield" on their back. Larvae have a black head, a white stripe 
down their back and will grow to a length of 3/8 inches. Larvae are slate-colored 
when small but will eventually turn green. 
<p>
Life Cycle
<p>
Alfalfa weevils overwinter as adults in plant debris along fence rows, ditch banks, 
woodlots, etc. Starting with the first warm spring days they migrate to alfalfa 
fields and lay eggs in new or dead plant stems. Peak egg lay and larval feeding is 
usually around early and late May, respectively. Larvae spin a white silken cocoon 
when development is complete and adults emerge within two weeks. Newly emerged 
adults will feed on alfalfa foliage for a short time before migrating out of the 
field to their summer "hibernation" sites. Adult weevils are not active during the 
summer months but occasionally will be collected in sweep nets. 
<p>

By using degree days (sine calculation, base 48 F) crop advisors and field scouts 
can monitor alfalfa weevil activity. Begin scouting activity at egg hatch. An 
additional 295 degree days are required to complete larval development (see table 
below). 
<p>
<CENTER>
<TABLE BORDER=5 CELLPADDING=5 WIDTH=500>
<TR><TH>Stage of Development
    <TH>Degree Days Required to Complete Indicated Life Stage
    <TH>Accumulated Degree Days
<TR><TD>egg<TD>	                      	300 <TD>       		300
<TR><TD>1st instar<TD>			71<TD>  		371

<TR><TD>2nd instar<TD>			67<TD>  		438
<TR><TD>3rd instar<TD>			66<TD> 			504
<TR><TD>4th instar<TD>			91<TD>  		595
<TR><TD>pupa<TD>			219<TD>			814

</TABLE>
</CENTER>
<p>
Damage
<p>
Some larvae cause damage by chewing tiny holes in the upper leaves. As larvae grow, 
the amount of foliage consumed increases dramatically. When larval numbers are 
high, complete defoliation of the upper leaves can occur. Peak damage often occurs 
when the first cutting is ready for harvest. Significant yield loss can also occur 
when larvae and/or adults feed on second crop regrowth. Feeding is usually 
completed by the time second crop regrowth is 8-10 inches tall.
<p>
Scouting and Economic Threshold
<p>
Start monitoring alfalfa at 300 degree days. Spot-check sandy knolls or fields with 
south facing slopes and look for tiny pin-holes in the upper leaves. Unfold newly 
emerged leaves and look for larvae. Spot checking will help determine when to start 
detailed scouting of all fields. 
<p>
To make a detailed evaluation of first crop weevil damage, walk an M-shaped pattern 
and collect 50 stems at random. When finished, carefully look over each stem for 
signs of weevil feeding. Count all stems that show signs of feeding and divide that 
number by 50 (total number of stems initially collected) to determine percentage 
tip feeding. Control is suggested when 40% or more of the stems show signs of 
weevil feeding. 
<p>
Check alfalfa regrowth 4-5 days after cutting for signs of weevil injury. Remember 
that dry weather, as well as weevil feeding, can delay regrowth. Look for larvae 
(or adults) on the soil surface around alfalfa crowns. They often can be found 
under leaf litter or at the juncture between soil and crown. During cool, cloudy 
weather you may find them feeding on new alfalfa buds during daylight hours. It is 
difficult to make control decisions based on the number of larvae found. A better 
method is to take another stem sample, as you did with first crop, and treat the 
field when 50% of the stems have feeding injury. Before deciding to spray, use an 
insect sweet net to make sure weevils are still present. Natural control factors 
can significantly reduce weevil numbers or the weevils may have formed a cocoon and 
will no long be causing damage. 
<p>
Control Methods
<p>

If 40% tip feeding is found more than 7-10 days ahead of the suggested harvest 
date, the field should be sprayed as soon as possible. Although "early" harvest is 
an excellent way of killing alfalfa weevil larvae, harvesting too early could be 
detrimental to alfalfa stands. Also, growers may not be able to harvest fast enough 
to stay ahead of the weevil in years of high abundance. In these cases, growers may 
have to spray the most heavily infested fields and harvest those with lighter 
infestations. There are a number of insecticides registered for alfalfa weevil 
larval control. However, if you have adult weevils, select an insecticide that is 
labeled for adult control. For more information regarding insecticides labeled for 
alfalfa weevil control, consult University of Wisconsin-Extension bulletin number 
A3646 "Field Crop Pest Management in Wisconsin" which is available from your local 
county extension office. Pay close attention to pre-harvest restrictions. These 
restriction vary according to the insecticide used and the rate at which it is 
applied. When selecting insecticides, consider price, potential hazards to honey 
bees and whether or not it is a restricted use pesticide. Read the label carefully 
before applying any pesticide. 
<p>
There are several natural enemies that do an excellent job of controlling the 
alfalfa weevil. Which is why insecticides are recommended only as a last resort and 
then only when significant yield losses are unavoidable. Several small, 
non-stinging species of wasps have been introduced by the Wisconsin Department of 
Agriculture, Trade and Consumer Protection and can be responsible for keeping 
weevil populations below treatment levels. There is also a fungal pathogen that 
attacks weevil larvae and can decimate weevil populations in a few days. Although 
these natural control factors are effective, conditions may not always be favorable 
for acceptable results. Always use timely field scouting before making control 
recommendations.
<p>



