<% content_for :title do %>
 Corn Development
<% end %>

<% content_for :welcome do %>
  <%= image_tag "corn.jpg", {:width => "231", :height => "231", :alt => "Contour map"} %>
  <h2>Corn Development</h2>
  <p></p>
<% end %>

<h2><%= @title %></h2>

<H4>May 15 to Present</H4>

<P>
<center> <%= ddgif_image_link('WIMNDDModB50_135.png','Corn Development Degree-Day Map') %> 
</center> 
<p> 

<%= ddgif_url('Black and White Image','WIMNDDModB50_135_bw.png') %>
<P>

<H4>Earlier Degree Day Maps (available mid-May)</H4>

<UL>
<LI><%= ddgif_url('Download Map for May 1 to 13','WIMNDDModB50_121.png') %>

<LI><%= ddgif_url('Download Map for May 7 to 13','WIMNDDModB50_127.png') %>
</UL>
<p/>
<div class="fineline"></div>
<h2>Corn Degree Day Calculator</h2>
Thermal time (degree-day) totals help anticipate development of the corn 
crop.  Degree-days are calculated using the 
Modified base 50 F method</A>, 
with a starting date of 15 
May.

<P>
Typical number of degree-days required to obtain various stages of development 
for a RM 95-105 hybrid are as shown in the table below (courtesy J. G. Lauer, 
UWEX Agronomy).  Research in Illinois indicates that seeds and young plants 
exposed to cool soil conditions reach development stages at slightly fewer GDD 
that usually observed.  Thus, GDD work best for predicting crop development when 
the season is "typical," and become less reliable when the season is not (which 
is also when you would most like to know!).

<P><CENTER>
<TABLE BORDER=5 CELLPADDING=5>
<TR><TH>GDD <TH>STAGE

<TR><TD>600 <TD>       V8
<TR><TD>900 <TD>       V13
<TR><TD>1200 <TD>      VT - tassel
<TR><TD>1550 <TD>      R3 - milk
<TR><TD>1900 <TD>      R4 - dough
<TR><TD>2200 <TD>      R5 - dent

<TR><TD>2400-2600 <TD>      R6 - black layer
</TABLE>
</CENTER>

You can correct GDD values from the May 15 starting date map (Map 1) for
your planting date by adding additional GDD from Map 2 or Map 3 as
appropriate.

<P>
