<% content_for :title do %>
 Corn-Specific Thermal Models
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png",{:width => "231", :height => "156", :alt => "Hot Sun"} %>
  <h2>Corn-Specific Thermal Models</h2>
  <p>Growth and development for corn and its pests are keyed to temperature. By calculating the history
    of daily temperatures over a season, we can predict pest emergence, crop development, and other events
    of keen interest in agriculture.</p>
<% end %>

<!-- Content for remainder of stuff -->
<%= image_tag "corn.jpg", {:width => "50", :height => "50", :alt => "Degree-day plot", :class => "left"} %>
<h2><%= link_to "Corn Development", :action => :corn_dev %></h2>
<p>Predicts corn plant development from our thermal model, with a map and predicted dates for biofixes</p>
  
  <div class="fineline"></div>
  
<%= image_tag "corn.jpg", {:width => "50", :height => "50", :alt => "Corn", :class => "left"} %>
<h2><%= link_to "European Corn Borer", :action => :ecb %></h2>
<p>&nbsp;</p>
<div class=", {}, fineline"></div>

<%= image_tag "corn.jpg", {:width => "50", :height => "50", :alt => "Alfalfa Weevil Larvae", :class => "left"} %>
<h2><%= link_to "Stalk Borer", :action => :corn_stalk_borer %></h2>
<p></p>
<p>&nbsp;</p>
<div class=", {}, fineline"></div>


<%= image_tag "seedcornmaggot.jpg", {:width => "50", :height => "50", :alt => "Seedcorn Maggot", :class => "left"} %>
<h2><%= link_to "Seedcorn Maggot", :action => :scm %></h2>
<p></p>
<p>&nbsp;</p>
<div class=", {}, fineline"></div>