<% content_for :title do %>
 Degree Day Calculator
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png", {:width => "231", :height => "231", :alt => "Contour map"} %>
  <h2>Thermal Models</h2>
  <p></p>
<% end %>

<!-- Content for remainder of stuff -->
<%= image_tag "degree_flower.png", {:width => "109", :height => "80", :alt => "Pic 2", :class => "left"} %>
<h2>Degree Day Calculator</h2>
<%= render partial: 'partials/degree_days_explained'%>
<!--<P>A general introduction to using degree day calculations can be found on the <a href="http://128.104.239.6/scout/intro/degree_days.htm">UW IPCM website 
  </a>.-->
<%= render partial: 'partials/degree_day_table' %>
  
<%= render partial: "partials/dd_selector"%>
  