<% @title = "European Corn Borer Development" %>
<% content_for :title do
     @title
   end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png",{:width => "231", :height => "156", :alt => "Hot Sun"} %>
  <h2>European Corn Borer</h2>
<% end %>

<h2><%= @title %></h2>

<center> 
  <%= ddgif_image_link "WIMNDDModB50_1.png","Yesterday's European Corn Borer DD Map" %>
</center>
<p> 
<%= ddgif_url 'Download the Image in Black and White', "WIMNDDModB50_1_bw.png" %> 


Development of European corn borer can be estimated using a 
<%= link_to "Modified base 50 F degree-day calculation", :action => :degree_days %>.
For this pest the degree-day summation is started well before the growing season.  
Critical values for European corn borers are listed in the table below
(data from J.W. Apple, Department of Entomology, University of
Wisconsin-Madison).

<P><CENTER>
<TABLE BORDER=5 CELLPADDING=5>
<TR><TH>Development Stage <TH>Accumulated Degree Days
<TR><TH COLSPAN=2><EM>First Generation</EM>
<TR><TD>First spring moth<TD>                          374     

<TR><TD>First eggs <TD>                                450
<TR><TD>Peak spring moths <TD>                         631
<TR><TD>First generation treatment period<TD>          800-1000
<TR><TH COLSPAN=2><EM>Second Generation</EM>
<TR><TD>First summer moths<TD>                          1400
<TR><TD>First eggs <TD>                                 1450

<TR><TD>First egg hatch<TD>                             1550
<TR><TD>Peak summer moths<TD>                           1733
<TR><TD>Second generation treatment period <TD>         1550-2100
</TABLE>
</CENTER>
   
<P>
<HR>

<P>
