<% content_for :title do %>
 Degree Day Results
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png", {:width => "231", :height => "231", :alt => "Contour map"} %>
  <h2>Thermal Model Accumulations For Multiple Locations</h2>
  <p></p>
<% end %>

<%
  # Extract the method info from the data and put into a set of table headers
  # "DBQ" => {"1" => {"params" => {"method" => "Simple","base" => "50.0"},"date" => "2012-10-31","data" => 3476.0}}
  def methods_to_headers(data)
    name = data.keys.first # 'DBQ'
    method = base = upper = nil
    data[name].keys.sort.inject("") do |str, ii|
      method = data[name][ii]['params']['method']
      base = data[name][ii]['params']['base_temp']
      if method == 'Modified' # only one for which there IS an upper
        upper = data[name][ii]['params']['upper_temp']
        if upper.nil? || upper == ''
          upper_str = "<br/>U=86.0"
        else
          upper_str = "<br/>U=#{upper}"
        end
      else
        upper_str = ''
      end
      start_date = data[name][ii]['params']['start_date'][0..4]
      end_date = data[name][ii]['params']['end_date'] || Date.today.strftime("%m/%d")
      end_date = end_date[0..4]
      str + "<th>#{method}<br/>B=#{base}#{upper_str}<br/>#{start_date} to #{end_date}</th>"
    end
  end
  
  def data_cells(location,locn_data)
    locn_data.keys.sort.inject("") do |str, ii|
      data = locn_data[ii]["data"]
      str + "<td>#{data}</td>"
      # str + "<td>#{locn_data[ii]["data"]}</td>"
    end
  end
%>

<h2>Degree-Day Accumulations</h2>
<p><a href="#permalink">Save a personalized version of this report</a>.</p>
<table border="1">
  <tr><th>Region</th><th>Location</th><%= methods_to_headers(@data).html_safe %></tr>
  <% for region in Region.sort_south_to_north(@locations.keys) %>
    <% locations = @locations[region] %>
    <tr><td rowspan="<%= locations.keys.size %>"><%= region %></td>
    <% locations.each do |abbrev,locn_info| %>
      <td><%= abbrev %></td><%= data_cells(abbrev,@data[abbrev]).html_safe %></tr><tr><!--  -->
    <% end %>
  <% end %>
</table>
<br/>
<a name="permalink"></a><h3>Saving Your Personalized Degree-Day Report</h3>
<p>
  If you would like to bookmark this customized report, you can save all your DD specifications; the date ranges will have their years redacted so that the link never goes out of date.
<h4><%= link_to "Bookmark this link", @permalink.merge(controller: "thermal_models") %></h4>
</p>
