<% content_for :title do %>
 Degree Day Calculator
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'jquery.ui.datepicker' %>
<% end %>

<% content_for :header_script do %>
  var NUM_INITIAL_PARAM_SETS = 6;
  var DISABLED_COLOR = "color:#B0B0B0";
  var last_added_set = NUM_INITIAL_PARAM_SETS; // FRAGILE! Count of default wired-in param_set_n divs below
  today = new Date();
  var year = today.getFullYear();
  start_date = new Date(year,0,1);
  end_date = today - 1;
  
  // set up the date pickers for a param set
  function set_up_datepickers(set_number) {
    jquery_selector = '#' + 'method_params\\[' + set_number + '\\]\\[start_date\\]';
    $( jquery_selector ).datepicker();
    $( jquery_selector ).datepicker("setDate",start_date);
    jquery_selector = jquery_selector.replace('start_date','end_date')
    $( jquery_selector ).datepicker();
    $( jquery_selector ).datepicker("setDate",end_date);
  }
  // Clone the param set template and add it to the end of our list
  function add_param_set() {
    param_set = $('#param_set_template').clone();
    last_added_set += 1;
    id_or_name = 'method_params[' + last_added_set +']';
    param_set_id = 'param_set_' + last_added_set;
    param_set.attr('id',param_set_id);
    param_set.show();
    // Set the "onclick" attribute of the first child, which is the '-' button
    param_set.children().eq(0).attr('onclick',"remove_this('" + param_set_id + "');");
    // Now go through each of the data parameters and set their names for Rails (and their ids, for...i dunno why)
    names = ['method','base_temp','upper_temp_label','upper_temp','start_date','end_date'];
    for (ii=0; ii < names.length; ii++) {
      param_set.children().eq(ii+1).attr('name','method_params[' + last_added_set +'][' + names[ii] + ']');
      param_set.children().eq(ii+1).attr('id','method_params[' + last_added_set +'][' + names[ii] + ']');
    }
    param_set.appendTo('#all_param_sets');
    set_up_datepickers(last_added_set);
    return(id_or_name);
  }
  function remove_last_param_set() {
    target = $('#param_set_' + last_added_set);
    target.remove();
    last_added_set -= 1;
  }
  function remove_this(id) {
    target = $('#'+id);
    target.remove();
    last_added_set -= 1;
  }
  // Turn off upper temp threshold input for Simple and Sine, on for Modified
  function set_upper_thresh(select) {
    method = select.value
    // Name of the select element is e.g. "method_params[1][method]", we want method_params[1][upper_temp]
    selector = "input[name='" + select.name.replace('[method]','[upper_temp]') + "']";
    if (method == 'Simple') {
      // alert(selector);
      $( selector ).prop('disabled',true);
      $( selector ).val(null);
      
      $( selector.replace('input','label').replace('upper_temp','upper_temp_label') ).fadeTo(200,0.2);
      
    } else {
      if (method == 'Modified' || method == 'Sine') {
        $( selector ).prop('disabled',false);
        $( selector ).prop('value','86.0');
        console.log(selector.replace('input','label').replace('upper_temp','upper_temp_label'));
        $( selector.replace('input','label').replace('upper_temp','upper_temp_label') ).fadeTo(200,0.99);
      } else {
        alert('Illegal method (not "Simple, Sine, or Modified"), please alert the website administrator.');
      }
    }
    
  }
  function set_up_elements() {
    // Select all the locations by default
    $('#locations option').prop('selected', true);
    // Hide the template that we use for additional DD columns
    $('#param_set_template').hide();
    // Date pickers for defaults
    for (ii=1; ii<= NUM_INITIAL_PARAM_SETS; ii++) {
      set_up_datepickers(ii);
    }
  }
  $(document).ready(set_up_elements);
<% end %>

<% content_for :welcome do %>
  <%= image_tag "thermal.png", {:width => "231", :height => "231", :alt => "Heat and cold"} %>
  <h2>Thermal Model Accumulations For Multiple Locations</h2>
  <p></p>
<% end %>
<h2>Multiway Degree-Day Calculator</h2>
<p>View or download multiple degree-day accumulations for up to <%= @stations.size %> locations in Wisconsin. You may replace the default set of commonly-used parameters with your own. Click the "<strong>-</strong>" button to remove an existing set, and the "<strong>+</strong>" button to add a new one. For each set:</p>
<p>
  <ol>
    <li>Select the method:
      <ol>
        <li>"Simple": the daily average temperature [(max - min) / 2.0] minus base temperature, with a floor of 0</li>
        <li>"Sine": calculates a sinewave approximation of the temperature</li>
        <li>"Modified": coerces min and max to within the base and upper threshold values, then performs a "Simple" calculation.</li>
      </ol>
    </li>
    <li>Enter the base temperature (and for the "sine" and "modified" methods, the upper-threshold temperature)</li>
    <li>Enter the date range (default: Jan. 1 to today).</li>
  </ol>
</p>
<p>(<a href="#dds">More on degree days</a>.)</p>
<%= form_tag action: :get_dds_many_locations do %>
<div id="all_param_sets">
    <div id='param_set_1'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_1');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[1][method]" onchange="set_upper_thresh(this);">
        <option value="Simple">Simple</option>
        <option value="Sine">Sine</option>
        <option value="Modified" selected="1">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[1][base_temp]" value="50.0"></input>&nbsp;
      <label name="method_params[1][upper_temp_label]">Upper: </label><input size="4" name="method_params[1][upper_temp]" value="86.0"></input>&nbsp;
      From <input size="10"  id="method_params[1][start_date]" name="method_params[1][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[1][end_date]" name="method_params[1][end_date]"/>&nbsp;
    </div>

    <div id='param_set_2'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_2');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[2][method]" onchange="set_upper_thresh(this);">
        <option value="Simple">Simple</option>
        <option value="Sine" selected="1">Sine</option>
        <option value="Modified">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[2][base_temp]" value="48.0"></input>&nbsp;
      <label name="method_params[2][upper_temp_label]">Upper:  </label><input size="4" name="method_params[2][upper_temp]" value="86.0"/>&nbsp;
      From <input size="10"  id="method_params[2][start_date]" name="method_params[2][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[2][end_date]" name="method_params[2][end_date]"/>&nbsp;
      <br/>
    </div>
    <div id='param_set_3'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_3');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[3][method]" onchange="set_upper_thresh(this);">
        <option value="Simple" selected="1">Simple</option>
        <option value="Sine">Sine</option>
        <option value="Modified">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[3][base_temp]" value="40.0"></input>&nbsp;
      <label name="method_params[3][upper_temp_label]" style="opacity:0.2">Upper: </label><input size="4" name="method_params[3][upper_temp]" disabled></input>&nbsp;
      From <input size="10"  id="method_params[3][start_date]" name="method_params[3][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[3][end_date]" name="method_params[3][end_date]"/>&nbsp;
    </div>
    <div id='param_set_4'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_4');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[4][method]" onchange="set_upper_thresh(this);">
        <option value="Simple">Simple</option>
        <option value="Sine" selected="1">Sine</option>
        <option value="Modified">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[4][base_temp]" value="41.0"></input>&nbsp;
      <label name="method_params[4][upper_temp_label]">Upper: </label><input size="4" name="method_params[4][upper_temp]" value="86.0"></input>&nbsp;
      From <input size="10"  id="method_params[4][start_date]" name="method_params[4][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[4][end_date]" name="method_params[4][end_date]"/>&nbsp;
    </div>
    <div id='param_set_5'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_5');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[5][method]" onchange="set_upper_thresh(this);">
        <option value="Simple" selected="1">Simple</option>
        <option value="Sine">Sine</option>
        <option value="Modified">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[5][base_temp]" value="43.0"></input>&nbsp;
      <label name="method_params[5][upper_temp_label]" style="opacity:0.2">Upper: </label><input size="4" name="method_params[5][upper_temp]" disabled></input>&nbsp;
      From <input size="10"  id="method_params[5][start_date]" name="method_params[5][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[5][end_date]" name="method_params[5][end_date]"/>&nbsp;
    </div>
    <div id='param_set_6'>
      <%= image_tag 'delete_button.png', onclick: "remove_this('param_set_6');", title: 'Remove this degree-day set', 
        align: 'middle', style: 'margin-bottom: 0.5em'%>
      <select name="method_params[6][method]" onchange="set_upper_thresh(this);">
        <option value="Simple" selected="1">Simple</option>
        <option value="Sine">Sine</option>
        <option value="Modified">Modified</option>
      </select>&nbsp;
      Base:  <input size="4" name="method_params[6][base_temp]" value="52.0"></input>&nbsp;
      <label name="method_params[6][upper_temp_label]" style="opacity:0.2">Upper: </label><input size="4" name="method_params[6][upper_temp]" disabled></input>&nbsp;
      From <input size="10"  id="method_params[6][start_date]" name="method_params[6][start_date]"/>&nbsp;
      To <input size="10"  id="method_params[6][end_date]" name="method_params[6][end_date]"/>&nbsp;
    </div>
    
  </div>
  <%= image_tag 'add_button.png', onclick: "add_param_set();", title: 'Add another degree-day set', align: 'middle'%>
  <br/>
  <p>Location. All <%= @stations.size %> locations are selected by default; scroll the list and use Ctrl-click (or Command-click on a Mac) to select a subset of them.</p>
  <%= select_tag :locations, option_groups_from_collection_for_select(@regions,:degree_day_stations,:name,:id,:name), {multiple: true, size: 10} %><br/>
  <br/>
  <%= radio_button_tag 'format', 'html', true %> View in browser&nbsp;<%= radio_button_tag 'format', 'json' %> Download as JSON<br/>
  <br/>
  <%= submit_tag 'Get Degree-Day Data'%>
<% end %>

<div id='param_set_template'>
  <%= image_tag 'delete_button.png', title: 'Remove this degree-day set', align: 'middle', style: 'margin-bottom: 0.5em'%>
  <select onchange="set_upper_thresh(this);">
    <option value="Simple">Simple</option>
    <option value="Sine">Sine</option>
    <option value="Modified">Modified</option>
  </select>&nbsp;
  Base: <input size="4" value="50"/>&nbsp;
  <label name="method_params[5][upper_temp_label]" style="opacity:0.2">Upper: </label><input size="4" disabled>&nbsp; <!-- Starts disabled, for Simple -->
  From <input size="10"/>&nbsp; <!-- Start Date -->
  To <input size="10"/>&nbsp; <!-- End Date -->
</div>
<p/>
<hr/>
<a name="dds"></a>
<h3>More information on Degree Days</h3>
<%= render partial: 'partials/degree_days_explained' %>
<%= render partial: 'partials/degree_day_table'%>
