 <% @title = "Potato Development "%>
 <% content_for :title do %>
   <%= @title %>
 <% end %>

 <% content_for :stylesheet do %>
   <%= stylesheet_link_tag "style" -%>
 <% end %>

 <% content_for :welcome do %>
   <%= image_tag "potato.png",{:width => "231", :height => "231", :alt => "Potato Image from Fir0002/Flagstaffotos"} %>
   <p style="font-size:70%; float:bottom">Image licensed under the
       <a href="http://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2">GNU Free Documentation License</a>
       by Fir0002/Flagstaffotos</p>
   <h2><%= @title %></h2>
   <p>Our potato Pday model lets you predict plant development of this pest to better manage production.</p>
   <br/>
   <h3 style="text-align:center">Potato Pests</h3>
   <p>For information on potato pests such as the Colorado Potato Beetle, see our 
      <%= link_to 'degree-day calculator', :action => :degree_days %> page.</p>
 <% end %>
 
 <h2><%= @title %></h2>
 <center><%= ddgif_image_link "WIMNDDPday45_135.png","WIMNDDPday45_135.png" %> 

 </center> 
 <p> 

 <%= ddgif_url 'Download The Image in Black and White', 'WIMNDDPday45_135_bw.png'%><br>


 <P>
<div class="fineline"></div>
 P-Days are the unit of thermal time used in a number of University of 
 Wisconsin-Extension potato management products.  To learn more about 
 these products, visit UW's<a href="http://ipcm.wisc.edu/"> 
 Integrated Pest Management</a> site.<br>

 <P>Below you will find P-Day maps for:

 <OL>
   <LI>May 15 to the present  
   <LI>May 1 to May 14
   <LI>May 7 to May 14  
 </OL>
 You can correct P-Day values from the May 15 starting date map (Map 1) for
 your planting date by adding additional P-Days from Map 2 or Map 3 as
 appropriate.

 <H4>Earlier P-Day Maps (available mid-May)</H4>

 <UL>
 <LI><%= ddgif_url "Download Map for May 1 to 14","WIMNDDPday45_121.png" %>
 </A>
 <LI><%= ddgif_url 'Download Map for May 7 to 14', "WIMNDDPday45_127.png" %> 

 </A>
 </UL>

 <P>
