<% @title = "Tree Pest Development"%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "tree.png",{:width => "231", :height => "231", :alt => "lake mendota tree"} %>
  <h2><%= @title %></h2>
  
<% end %>

<h2><%= @title %></h2>
<center> <%= ddgif_image_link "WIMNDDModB50_1.png","Yesterday's Tree and Shrub Pest DD Map" %> </center> 
<p> 
<%= ddgif_url "Download the Image in Black and White","WIMNDDModB50_1_bw.png" %><p> </UL> 

<P>
<div class="fineline"></div>

Development of tree and shrub pests can be estimated using a 
modified base 50 F degree-day calculation.
For these pests the degree-day summation is started well before the growing season.  

<P>The map below represents the accumulation of degree days for any given location in
Wisconsin.  A degree day is a unit of heat for each degree above the base
temperature in a 24 hour period.  This map uses a base temperature of 50 degrees F
and begins calculating degree days from January 1st of the current year.  Locate your
location on the map and see what color corresponds with that location. 
Then, find that color in the color bar below
the map to determine how many degree days have accumulated for your location
since January 1st. 

<P>Degree day accumulations can be used to determine distinct phenological events
such as when specific plants will bloom, when to plant vegetables, and when
insect pest outbreaks will occur. 
