<% @title='Western Bean Cutworm'%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "wbc.jpg",{:width => "231", :height => "150", :alt => "cutworm larva"} %><br/>
  <p style="font-size:xx-small">Photo courtesy Marlin Rice, Pioneer Hi Bred</p>
  <h2><%= @title %></h2>
  
<% end %>

<h2><%= @title %></h2>

<h3>Western Bean Cutworm Profile</h3>

<h4>Identification
</h4>
<p>Young western bean cutworm larvae are dark colored and have faint diamond-shaped markings on their back.  As they mature, larvae become brown in color and have 2 short but distinctive stripes behind the head.  The adult moth is approximately ¾ inch long and has a 1 ½ inch wing span.  The forewings are brown and have a conspicuous white colored stripe on the leading edge of the wing.  Eggs are round and are laid in clusters which are whitish when first deposited, turn tan after a few days then eventually turn a dark purple just prior to hatch.  </p>

<h4>Economic Importance
</h4>
<p>Historically, the western bean cutworm was a pest on corn and dry beans in the western cornbelt.  The first detection of western bean cutworm in Wisconsin was 2005 and their numbers have steadily increased, especially in the sandy areas of the state.  </p>

<h4>Life Cycle</h4>

<p>Western bean cutworms have one generation/year in Wisconsin.  They overwinter as fully grown larvae in earthen cells and pupate in May.  Adults emerge late June and are attracted to late vegetative corn to lay eggs.  Eggs are usually laid on the upper most leaves.  After hatching, larvae will feed on pollen or, if the ear has emerged, on silk before moving into the ear to feed on developing kernels.  Large areas of kernels may be consumed.  When development is complete, larvae will move to the ground where they create a earthen chamber and overwinter.  </p>

<h4>Host Range
</h4>

<p>Western bean cutworms are a pest of dry beans (not soybean) and corn.  In dry beans, young larvae will feed on flower parts and newly emerged leaves.  Economic damage occurs when larvae mature and begin to feed on pod and developing seeds.  
</p>
<h4>Damage/Symptoms</h4>

<p>After hatching, larvae from a single egg mass will often disperse to adjacent plants.  If corn has not tasseled, larvae will feed on pollen in the developing tassel.  After tassel emergence larvae feed on silk and developing kernels by first traveling through the silk channel or chewing through the husk.  Research has shown that an infestation of one larvae per ear may result in a 4 bu./acre yield loss.  Several larvae/ear may reduce yield by 30-40%.  Additionally, kernel injury may allow for entry and colonization of fungal pathogens.  </p>

<h4>Scouting Procedure and Economic Threshold</h4>

<p>Use of degree days, along with  pheromone traps, will help determine timing of field scouting activities.  Start accumulating degree days on May 1 using a base development temperature of 50&deg;F.  University of Nebraska research has shown that approximately 25% of moths will be emerged at 1320 degree days, 50% at 1422 degree days and 75% emergence at 1536 degree days.  Begin scouting at first appearance of moths and continue until after moth population’s peak.  </p>

<p>Pheromone traps can easily be made from plastic milk jugs and the pheromone lure purchased by several on line sources (eg. <%= link_to 'Gemplers', 'http://gemplers.com'%> and <%= link_to 'Great Lakes IPM', 'http://www.greatlakesipm.com/' %>) .  Traps should be set out by July 1. For more information on trap design, materials, maintenance and placement go to <%= link_to 'http://www.ext.colostate.edu/pubs/insect/05538.html', 'http://www.ext.colostate.edu/pubs/insect/05538.html' %></p>

<p>Time field scouting activities using degree days and pheromone trap catches.  Examine 20 consecutive corn plants at each of five locations/field.  Look for eggs and or larvae on the upper leaves and continue scouting at weekly intervals until after the threat of western bean cutworm has subsided.  For field corn, consider treatment when 5% or more of the corn plants have either eggs or larvae present, but before larvae have entered the ear.  Once larvae have entered the ear they are not susceptible to insecticide applications.  </p>

<h4>Management 
</h4>
<p>Consult UW Extension Bulletin “Pest Management if Wisconsin Field Crops” management recommendations.  This bulletin maybe purchased from your local county extension office or is available to view, purchase or download from UW Cooperative Extension’s The Learning Store at <%= link_to "http://learningstore.uwex.edu/", 'http://learningstore.uwex.edu/'%></p>
