<%= form_for(@degree_day_station) do |f| %>
  <% if @degree_day_station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@degree_day_station.errors.count, "error") %> prohibited this degree_day_station from being saved:</h2>

      <ul>
      <% @degree_day_station.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abbrev %><br>
    <%= f.text_field :abbrev %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
