<% @title = "Degree Day Stations" %>
<% content_for :title do
    @title
   end %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Maintain the list of degree day stations.</p>
<% end %>

<h2><%= @title %></h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Abbrev:</strong>
  <%= @degree_day_station.abbrev %>
</p>

<p>
  <strong>Name:</strong>
  <%= @degree_day_station.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @degree_day_station.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @degree_day_station.longitude %>
</p>

<p>
  <strong>Region:</strong>
  <%= @degree_day_station.region %>
</p>

<%= link_to 'Edit', edit_degree_day_station_path(@degree_day_station) %> |
<%= link_to 'Back', degree_day_stations_path %>
