<% @title = "Estimated ET for Wisconsin and Minnesota"%>
<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "degree_flower.png",{:width => "231", :height => "156", :alt => "Hot and Cold"} %>
  <h2><%= @title %></h2>
  <p>Our evapotranspiration model uses atmospheric observations from ASOS stations and satellite-derived 
    insolation estimates to predict water use by plants
    </p>
<% end %>

<%= content_for :scripts do %>
<script type="text/javascript">
  function regionMap(latitude,longitude) {
    latitude = latitude.toFixed(1);
    longitude = longitude.toFixed(1);
    if (longitude > 0.0) {
      longitude = (longitude * -1.0).toFixed(1);
    }
    $('#latitude').val(latitude);
    $('#longitude').val(longitude);
    return false;
  }
</script>
<% end %>
<h2><%= @title %></h2>

<P>
<h4>ET Time Series</h4>
<p>Note: You can click on the map below to set the latitude and longitude.</p>
<%= render partial: "partials/grid_selector" %>
<p/>
<h4>Get ETs automatically by email!</h4>
<p>Just enter your email address to sign up (or to manage your subscriptions)</p>
<%= form_tag controller: 'subscribers', action: :show do %>
  Email :&nbsp;<%= text_field_tag 'subscriber[email]'%>
<% end %>
<br/ >
<img src="<%= @map_image %>"  alt="Yesterday's ET Estimates" usemap: "latlong" />
  <P> <a href="/soils-agwx-assets/uwex_agwx/sun_water/yestWIMNet.asc"> Download yesterday's entire grid of data in ASCII Format</a><br>

<!-- <a href=http://emily.soils.wisc.edu/cgi-bin/aws/et_arch.pl?Region=WIMN>Earlier Wisconsin-Minnesota ET Maps</a>-->

<!-- X: 34 to 512 Y: 181 to 616 -->
<%= render partial: 'partials/gridmap'%>
<p>If you have suggestions, feel free to email them to <a href="mailto:fewayne@wisc.edu">Rick Wayne.</a></p>
