<% content_for :title do %>
 Sun and Water
<% end %>

<% content_for :welcome do %>
  <%= image_tag "rock_island_sunset.jpg", {:width => "231", :height => "150", :alt => "Sun On the Water"} %>
  <h2>Sun and Water</h2>
  <p>All living things derive their energy from the sun, and none can live without water. The balance between 
    sun and water defines what is possible for a plant.</p><br/>
  <p><strong>Quick Links</strong></p>
    <p><%= link_to "US Insolation", :action => :insol_us %></p>
    <p>ET <%= link_to "WI/MN", :action => :et_wimn %>&nbsp;&nbsp;
      <%= link_to 'Florida', image_path("sun_water/yestFLet.gif") %></p>
    <p><a href="http://wisp.cals.wisc.edu/">Online Irrigation Scheduler</a></p>
    <p><%= link_to "Cranberry ETs", :controller => 'cranberry'%></p>
<% end %>

<!-- Content for remainder of stuff -->
<%= image_tag "prom1743_eit_big.gif", {:width => "109", :height => "108", :alt => "Pic 2", :class => "left"} %>
<h2>Insolation Model</h2>
<p>We're proud to offer the "take" from the UW Space Science insolation model, which estimates insolation at the surface by comparing 
  each pixel of a satellite image with one taken when no clouds are present. This model, which has undergone over a decade of rigorous 
  quality control and continual improvement, offers a remarkably good fit to data obtained from ground instruments.</p>
<p>Daily solar energy amounts are estimated using data in the visible portion of the spectrum which come from the 
  Geostationary Operational Environmental Satellites (GOES). Simple physical models of radiative transfer for 
  the clear and cloudy atmosphere are used with these data to evaluate whether a particular location is cloudy 
  or clear and, if cloudy, to what extent clouds have depleted the solar beam. Usually, about eight to twelve 
  individual GOES images are used during the course of a day to make estimates of the solar energy at the satellite 
  image times. These instantaneous estimates are later summed to produce the daily solar energy totals.</p>
  <p><span style="font-weight:bold"><%= link_to "Yesterday's insolation maps", action: :insol_us %></span></p>
<div class="fineline"></div>

<%= image_tag "sunwater.png", {:width => "109", :height => "108", :alt => "Sun and Water", :class => "left"} %>
<h2>Evapotranspiration Model</h2>
<p>Maps of potential evapotranspiration (ET) are calculated from satellite-derived measurements of solar radiation 
  and air temperatures at regional airports. The ET values on the maps are a reasonable estimate of daily crop water 
  use for most crops that have reached at least 80% coverage of the ground. Prior to 80% or greater coverage, ET 
  will be a fraction of the map value in proportion to the amount of coverage. The map values may vary slightly from 
  ET estimates from AWON and other more site-specific models, but these differences are believed to be within the 
  uncertainty of even measurements of actual water use made directly in a given field.</p>
<p><span style="font-weight: bold">Yesterday's ET map:</span>&nbsp;&nbsp;<%= link_to "Wisconsin and Minnesota", :action => :et_wimn %>&nbsp;&nbsp;<%= link_to 'Florida', image_path("sun_water/yestFLet.gif") %></p>

<div class="fineline"></div>
<h2>Irrigation Scheduling (NEW SOFTWARE!)</h2>
<p>A new <%= link_to 'online irrigation scheduler application', "http://wisp.cals.wisc.edu/" %> is now ready for use. We also have an <%= link_to "irrigation scheduling spreadsheet", :action => :spreadsheet_download %> is available which uses these models to implement an allowable-depletion balance. This replaces the old ADCosmET.xls spreadsheet, and was developed by Dr. John Panuska of UW Extension/UW-Madison Biological Systems Engineering and Dr. John Norman, UW-Madison Soil Science. The documentation for the spreadsheet is available <%= link_to "here", :action => :spreadsheet_doc %>.</p>

<div class="fineline"></div>
<h2>Cranberry Consumptive Use Estimates</h2>
<p><%= link_to "This calculator", :controller => 'cranberry'%> allows cranberry growers to estimate the monthly consumptive water use of their beds. The estimate is based on the research of Bland et al. (1996, Agric. and Forest Meteorol. 81:1-12), which demonstrated well-watered cranberry ET to be just slightly higher than the "equilibrium ET." Values supplied here are derived from the University of Wisconsin-Madison estimation of the Priestley-Taylor <%= link_to 'potential evapotranspiration', :controller => 'sun_water', :action => :et_wimn %>, corrected following Bland et al. (1996)</p>

<div class="fineline"></div>
<h2>Theory Behind the Models</h2>
<p>For more details on the science behind these products, see Diak et al, "<%= link_to "Agricultural Management Decision Aids Driven by Real-Time Satellite Data", "diakEtal1998.pdf" %>", <span style="font-style: italic">Bulletin of the American Meteorological Society</span> 79 (1998): 1345-1355.</p>
  
  
