<% @title = "Wisconsin Insolation"%>

<% content_for :title do %>
  <%= @title %>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "equinox_090922_ladanyi.jpg",{:width => "231", :height => "156", :alt => "Sun"} %>
  <h2><%= @title %></h2>
  <p>UW Space Sciences' model provides excellent insolation estimates during most of the year (snow cover
    looks like clouds to the satellite).</p>
<% end %>

<h2><%= @title %>
</p>
<div>
  <img src="<%= @map_image %>"  alt="Yesterday's Insolation Estimates" />
</div>

  <!-- <H4>For previous days, access the archive <a name="previous" href="http://alfi.soils.wisc.edu/cgi-bin/asig/InsolAccessPage.rb?reportType=EAST#today">here</a>)</H4>

  </H4> -->
