<% @title = "Regions" %>
<% content_for :title do
    @title
   end %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
  <p>Maintain the list of regions.</p>
<% end %>

<h2><%= @title %></h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @region.abbrev %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
